@font-face {
    font-family: 'La Belle Aurore';
    src: url(../fonts/LaBelleAurore-Regular.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(0, 0, 0);
}
.container-fluid {
    max-width: 1440px;
}
.row {
    width: 100%;
    margin: auto;
}
:root {
    --cyn: #00FFF7;
    --pnk: #FF0077;
    --sub-fnt:'Raleway', sans-serif;
    --main-fnt: 'Poppins', sans-serif;
}
/* NAvbar Styling Start  */

#hero .navbar {
    display: flex;
    justify-content: space-between;
}
#hero .bg-light {
    background-color: transparent !important;
}
#hero .navbar-brand {
    padding: 0 !important;
    width: 80px;
}
#hero .navbar-brand img {
    display: block;
    width: 100%;
}
#hero .my-nav {
    max-width: 50%;
}
#hero .my-nav ul {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}
#hero .nav-link {
    position: relative;
    font-family: var(--main-fnt);
    font-size: 1.1rem;
    font-weight: bold;
    letter-spacing: 2px;
    color: transparent;
    padding: 0;
    transition: .6s linear;
}
#hero .nav-link:hover {
    color: var(--pnk);
}
.nav-link::before {
  content: "" !important;
  position: absolute;
  left: 0;
  bottom: -7px;
  background-color:var(--cyn)!important;
  width: 100%;
  height: 3px;
  border-radius: 20px;
  transform: scaleX(0);
  transform-origin: left;
  transition: ease 0.6s ;
}
.nav-link:hover::before {
  transform: scaleX(1) !important;
}
.home,.about, .skills, .works, .contact {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}
.home {
    background-image: url(../img/homepage.png);
}
.about {
    background-image: url(../img/about_active.png);
}
.skills {
    background-image: url(../img/skills.png);
}
.works {
    background-image: url(../img/works.png);
}
.contact {
    background-image: url(../img/contact.png);
}
.home:hover,.about:hover, .skills:hover, .works:hover, .contact:hover {
    background-image: none; 
}

/* NAvbar Styling End  */
#hero .col-xl-6 {
    padding: 0 !important;
}
#hero  .details {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#hero .textbox1 {
    width: 100%;
    min-height: 70px;
    display: flex;
    justify-content: left;
    align-items: center;
}
#hero .textbox1 .text1_1 {
    color: var(--cyn);
    font-family: var(--sub-fnt);
    font-size: 60px;
    font-weight: bolder;
    line-height: 0;
    padding-left:30px;
}
#hero .textbox2 {
    width: 100%;
    min-height: 30px;
    display: flex;
    justify-content: left;
    align-items: center;
    padding-left:40px;
    margin-top: 10px;
    margin-bottom: 30px;
}
#hero .textbox2 .text1_2 {
    color: rgb(240, 240, 240);
    font-family: var(--main-fnt);
    font-size: 1.2rem;
    letter-spacing: 2px;
    line-height: normal;
    cursor: pointer;
}
#hero .btnbox1,
#hero .btnbox2 {
    background-color: gray;
    width: 45%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
#hero .btnbox1 .btn-dark,
#hero .btnbox2 .btn-dark {
    width: 150px;
    height: 40px;    
    border: none;
    border-radius: 0;
    box-shadow: none;
    font-size: 1rem;
    font-family: var(--main-fnt);
    font-weight: bold;
    letter-spacing: 1px;
    transition: .5s ease;
}
#hero .btnbox1 .btn-dark {
    background-color: var(--pnk);
    color: var(--cyn);
}
#hero .btnbox2 .btn-dark {
    background-color: var(--cyn);
    color: var(--pnk);
}
#hero .btnbox1 .btn-dark:hover {
    box-shadow: 0 0 5px rgb(255, 58, 150),
                0 0 15px rgba(255, 58, 150, 0.8),
                0 0 35px rgb(255, 58, 150, 0.8),
                0 0 50px rgb(255, 58, 150, 0.8);
    border: .3px solid rgba(255, 255, 255, 0.5) ;
}
#hero .btnbox2 .btn-dark:hover {
    box-shadow: 0 0 5px rgb(0, 255, 247),
                0 0 15px rgba(0, 255, 247, 0.8),
                0 0 35px rgb(0, 255, 247, 0.8),
                0 0 50px rgb(0, 255, 247, 0.8);
    border: .3px solid rgb(255, 255, 255, 0.5) ;
   
}
#Layer_1 {
    display: block;
    width: 60%;
    height: 80vh;
    margin: auto;
    fill-opacity: 0;
    stroke: var(--pnk);
    stroke-width: 3px;
    stroke-dashoffset: 0;
    stroke-dasharray: 2680;
    animation: animate 20s linear 3s infinite;
    opacity: 0;
}
@keyframes animate {
    0% {
        stroke-dasharray: 0;
    }
    25% {
        opacity: 1;
        stroke-dasharray: 50;
    }
    50% {
        stroke-dasharray: 500;
    }
    75% {
        stroke-dasharray: 1000;
    }
    85% {
        stroke-dasharray: 2000;
    }
    
    90% {
        opacity: 1;
        stroke-dasharray: 2680;
        stroke: var(--cyn);
    }
    100% {
        opacity: 0;
    }
}
#footer {
    display: none;
}
.socialbox {
    width: 60px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    right:2%;
    top: 0%;
    z-index: 10;
}
.line1, .line2{
    width: 1px;
    height: 200px;
    background-color: var(--cyn);
}
.iconbox {
    width: 40px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.icon_circle {
    width: 40px;
    height: 40px;
    border: 3px solid var(--pnk);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .3s ease;
}
.icon_circle:hover {
    box-shadow: 0 0 5px rgb(255, 58, 150),
    0 0 15px rgba(255, 58, 150, 0.8),
    0 0 35px rgb(255, 58, 150, 0.8),
    0 0 50px rgb(255, 58, 150, 0.8);
} 
.icon_circle a:hover {
    color: var(--cyn);
    text-decoration: none;
}
.icon_circle a img {
    display: block;
    width: 25px;
    border-radius: 50%;
}
.bg_text1, .bg_text2, .bg_text3, .bg_text4 {
    color: rgba(255, 255, 255, 0.335);
    position: absolute;
    font-family: 'La Belle Aurore', cursive;
    letter-spacing: 2px;
    font-size: 20px;
    z-index: 20;
}
.bg_text1 {
    top: 15%;
    left: 3%;
}
.bg_text2 {
    bottom:3%;
    left: 5%;
}
.bg_text3 {
    top:25%;
    left: 5%;
}
.bg_text4 {
    top: 32%;
    left: 27%;
}







/* Media Query Start  */

@media only screen and (max-width: 1200px){
    #hero .textbox1 .text1_1 {
        font-size: 40px;
    }
    #hero .textbox1 {
        min-height: 50px;
    }
    #hero .textbox2 {
        min-height: 20px;
    }
    #hero .textbox2 .text1_2 {
        font-size: 12px;
        letter-spacing: 3px;
    }
    #hero .btnbox1 .btn-dark,
    #hero .btnbox2 .btn-dark {
        width: 120px;
        height: 35px;
        font-size: 12px;
    }
}

@media only screen and (max-width: 992px) {
    #hero .open {
        width: 25px;
    }
    #hero .my-nav {
        max-width: 100%;   
    }
    #hero .my-nav ul {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    #hero .nav-link {
        font-size: 1rem;
        margin: 0 5px;
    }
    #hero .textbox2 .text1_2 {
        font-size: 10px;
    }
}
@media only screen and (max-width: 768px) {
    .swiper-slide {
        background-size: 150%;
    }
    .socialbox {
        width: 30px;
    }
    .line1, .line2{
        height: 150px;
    }
    .iconbox {
        width: 25px;
        height: 150px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }
    .icon_circle {
        width: 25px;
        height: 25px;
        border: 2px solid var(--pnk);
    }
    .icon_circle a img {
        width: 20px;
    }
}
@media only screen and (max-width: 575px) {
    #hero .display {
        display: none;
    }
    #hero .details {
        height: 75vh;
    }
    #hero .navbar-brand {
        width: 60px;
    }
    #footer {
        display: block;
    }
    #footer .socialbox2 {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
    .line3, .line4{
        width: 20%;
        height: 1px;
        background-color: var(--cyn);
    }
    .iconbox2 {
        width: 150px;
        height: 30px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
   
}
@media only screen and (min-width: 360px) and (max-width: 427px)  {
    #hero .navbar {
        padding-top: 0;
    }
    #hero .my-nav {
        max-width: 100%;
    }
    #hero .nav-link {
        font-size: 1rem;
        letter-spacing: 1px;
        margin: auto;
    }
    .container-fluid {
        padding: 0;
    }
    #hero .textbox1 .text1_1 {
        padding-left: 10px;
    }
    #hero .textbox2 {
        padding-left: 15px; 
    }
    #hero .btnbox1,
    #hero .btnbox2 {
    width: 50%;
    }
    #hero .btnbox1 .btn-dark,
    #hero .btnbox2 .btn-dark {
    width: 120px;
    height: 35px;
    }
    .bg_text1, .bg_text2, .bg_text3, .bg_text4 {
        font-size: 10px;
    }
    .bg_text4 {
        top: 32%;
        left: 60%;
    }
}

















